<section class="categories" id="categories">
  <h1 class="heading">Products <span>Categories</span></h1>
  <div class="box-container">
    <div class="box">
      <img src="src/images/vegetables.png" alt="vegetable" />
      <h2>Vegetables</h2>
      <p>Upto 45% Off</p>
      <a href="#" class="btn">Shop Now</a>
    </div>
    <div class="box">
      <img src="src/images/fruits.png" alt="fruit" />
      <h2>Fresh Fruits</h2>
      <p>Upto 45% Off</p>
      <a href="#" class="btn">Shop Now</a>
    </div>
    <div class="box">
      <img src="src/images/dairy.png" alt="Dairy" />
      <h2>Dairy</h2>
      <p>Upto 45% Off</p>
      <a href="#" class="btn">Shop Now</a>
    </div>
    <div class="box">
      <img src="src/images/Meat.png" alt="meat" />
      <h2>Meat</h2>
      <p>Upto 45% Off</p>
      <a href="#" class="btn">Shop Now</a>
    </div>
  </div>
</section>
