<section class="features" id="features">
  <h2 class="heading">Our <span>Features</span></h2>
  <div class="box-container">
    <div class="box">
      <img src="src/images/busket2.png" alt="watermelon" />
      <h3>Fresh And watermelon</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque
        quisquam vero distinctio nemo, illum sint ipsum nam harum cum.
      </p>
      <a href="#" class="btn">Read More</a>
    </div>
    <div class="box">
      <img src="src/images/delevery.png" alt="watermelon" />
      <h3>Free Delivery</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque
        quisquam vero distinctio nemo, illum sint ipsum nam harum cum.
      </p>
      <a href="#" class="btn">Read More</a>
    </div>
    <div class="box">
      <img src="src/images/payment.png" alt="watermelon" />
      <h3>Easy Payments</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A atque
        quisquam vero distinctio nemo, illum sint ipsum nam harum cum.
      </p>
      <a href="#" class="btn">Read More</a>
    </div>
  </div>
</section>
