<footer class="footers">
    <div class="box-container">
      <div class="box">
      <h2>Goco <i class="fa-solid fa-basket-shopping"></i></h2>
      <p>
        Feel Free to Follow us On our Social Media Handlers All The Links
        Are Griven Below
      </p>
       <div class="share-icon-footer">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
       </div>
      </div>
     <div class="box">
      <h2>Contact Info</h2>
      <a href="#" class="links"><i class="fa-solid fa-phone"></i> +123-456-7890</a>
      <a href="#" class="links"><i class="fa-solid fa-phone"></i> +111-222-3333</a>
      <a href="#" class="links"><i class="fa-solid fa-envelope"></i> Example@gamil.com</a>
      <a href="#" class="links"><i class="fa-solid fa-location-dot"></i> Pune, India-400104</a>
     </div>
     <div class="box">
      <h2>Quick Links</h2>
      <a href="#" class="links"><i class="fa-solid fa-arrow-right"></i> Home</a>
      <a href="#" class="links"><i class="fa-solid fa-arrow-right"></i> Features</a>
      <a href="#" class="links"><i class="fa-solid fa-arrow-right"></i> Products</a>
      <a href="#" class="links"><i class="fa-solid fa-arrow-right"></i> Categories</a>
      <a href="#" class="links"><i class="fa-solid fa-arrow-right"></i> Review</a>
      <a href="#" class="links"><i class="fa-solid fa-arrow-right"></i> Blogs</a>
     </div>
     <div class="box">
      <h2>Newslatter</h2>
      <p>Subscribe for Latest Updates</p>
      <input type="email" placeholder="your email">
      <input type="submit" value="Subscribe" class="btn">
      <img src="src/images/cards.png" alt="card">
     </div>
    </div>
    <div class="credit-text">
      Create By <span class="Gradient-one">Cyber Warriors</span>  | All Right Reserved
    </div>
  </footer>