<section class="products" id="products">
  <h1 class="heading">Our <span>Products</span></h1>
  <div class="swiper product-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <img src="src/images/orange.png" alt="orange" />
        <h1>Fresh Orange</h1>
        <div class="price">$12.99/- - 15.99/-<</div>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <a href="#" class="btn">Add To</a>
      </div>
      <div class="swiper-slide box">
        <img src="src/images/apple.png" alt="orange" />
        <h1>Orange</h1>
        <div class="price">$12.99/- - 15.99/-<</div>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <a href="#" class="btn">Add To</a>
      </div>
      <div class="swiper-slide box">
        <img src="src/images/banana.png" alt="orange" />
        <h1>Banana</h1>
        <div class="price">$12.99/- - 15.99/-<</div>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <a href="#" class="btn">Add To</a>
      </div>
      <div class="swiper-slide box">
        <img src="src/images/corn.png" alt="orange" />
        <h1>Corn</h1>
        <div class="price">$12.99/- - 15.99/-<</div>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <a href="#" class="btn">Add To</a>
      </div>
      <div class="swiper-slide box">
        <img src="src/images/grapes.png" alt="orange" />
        <h1>Fresh Grapes</h1>
        <div class="price">$12.99/- - 15.99/-<</div>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <a href="#" class="btn">Add To</a>
      </div>
      <div class="swiper-slide box">
        <img src="src/images/logan.png" alt="orange" />
        <h1>Logan</h1>
        <div class="price">$12.99/- - 15.99/-<</div>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
        <a href="#" class="btn">Add To</a>
      </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
