<section class="review" id="review">
  <h2 class="heading">Customer's <span>Review</span></h2>
  <div class="review-slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <img src="src/images/man1.jpg" alt="man1" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          eius provident repellendus ullam sint repellat sapiente mollitia,
          nesciunt corrupti quibusdam.
        </p>
        <h3>John Deo</h3>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
      </div>
      <div class="swiper-slide box">
        <img src="src/images/man2.jpg" alt="man2" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          eius provident repellendus ullam sint repellat sapiente mollitia,
          nesciunt corrupti quibusdam.
        </p>
        <h3>David Dero</h3>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
      </div>
      <div class="swiper-slide box">
        <img src="src/images/man3.webp" alt="man3" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          eius provident repellendus ullam sint repellat sapiente mollitia,
          nesciunt corrupti quibusdam.
        </p>
        <h3>Jone stone</h3>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
      </div>
      <div class="swiper-slide box">
        <img src="src/images/girl1.jpg" alt="girl1" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          eius provident repellendus ullam sint repellat sapiente mollitia,
          nesciunt corrupti quibusdam.
        </p>
        <h3>Matt Liza</h3>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
      </div>
      <div class="swiper-slide box">
        <img src="src/images/gril2.jpg" alt="girl2" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          eius provident repellendus ullam sint repellat sapiente mollitia,
          nesciunt corrupti quibusdam.
        </p>
        <h3>Yab Rose</h3>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
      </div>
      <div class="swiper-slide box">
        <img src="src/images/girl3.jpg" alt="girl3" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          eius provident repellendus ullam sint repellat sapiente mollitia,
          nesciunt corrupti quibusdam.
        </p>
        <h3>Rodriz Gezz</h3>
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</section>
