<div class="shopping-card">
  <div class="box">
    <img src="src/images/watermelon.png" />
    <div class="content">
      <h3>Watermelon</h3>
      <span class="price">$5.99/-</span>
      <span class="quantity">Qty : 1</span>
    </div>
    <i class="fa-solid fa-trash"></i>
  </div>
  <div class="box">
    <img src="src/images/chicken-gyz.png" />
    <div class="content">
      <h3>Checken</h3>
      <span class="price">$4.99/-</span>
      <span class="quantity">Qty : 1</span>
    </div>
    <i class="fa-solid fa-trash"></i>
  </div>
  <div class="box">
    <img src="src/images/redonion.png" />
    <div class="content">
      <h3>Onion</h3>
      <span class="price">$5.99/-</span>
      <span class="quantity">Qty : 1</span>
    </div>
    <i class="fa-solid fa-trash"></i>
  </div>
  <div class="total">Total : $18.97-/</div>
  <a href="#" class="btn">checkout</a>
</div>
