<header class="top-page">
  <h2><i class="fa-solid fa-basket-shopping"></i>Gocery</h2>
  <nav class="navigation">
    <a href="#home" class="active">Home</a>
    <a href="#features">Features</a>
    <a href="#products">Products</a>
    <a href="#categories">Categories</a>
    <a href="#review">Review</a>
    <a href="#blogs">Blogs</a>
  </nav>
  <div class="head-icon">
    <i class="fa-solid fa-bars" id="menu-btn"></i>
    <i class="fa-solid fa-magnifying-glass" id="search-btn"></i>
    <i class="fa-solid fa-cart-shopping" id="shop-btn"></i>
    <i class="fa-solid fa-user" id="login-btn"></i>
  </div>
</header>
